/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  background: rgb(236, 172, 200);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(24,205,219,0.3841911764705882) 100%);
}

.background-screen {
  height: 100vh;  
}

.menu-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(235, 235, 235);
  font-size: 22px;
}

.category-icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 3px;
}

.category-name {
  color: rgb(91, 98, 105);
  text-decoration: none;
}
